@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/

.main-section { margin-bottom: 100px; }

.main-section h2,
.data-display h3 {
  padding: 40px 0;
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

form,
.item-display {
  width: 50%;
  margin: 0 auto;
}


.form-control { margin-bottom: 30px }

.form-control label {
  font-size: 25px;
  font-weight: bold;
}

.form-control input {
  width: 40%;
  height: 30px;
}

.success input { border-color: #2ecc71; }
.error input { border-color: #e74c3c; }

.form-control span {
  display: inherit;
  font-size: 13px;
  visibility: hidden;
}

.error span {
  color: #e74c3c;
  visibility: visible;
}


form button {
  width: 15%;
  padding: 8px 0;
  border-radius: 8px;
  background-color: #4E4040;
  color: #CFCFCF;
  font-weight: bold;
  text-transform: uppercase; 
  transition: 1s; 
}

form button:hover,
.clear:hover {
  background-color: #659DB4;
  color: #FFFFFF;
}

.item-display { 
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; 
  background-color: #DBBFC9;
}

.clear {
  width: 10%;
  padding: 10px 0;
  border-radius: 8px;
  margin-left: 40%;
  background-color: #4E4040;
  color: #CFCFCF;
  font-weight: bold;
  text-transform: uppercase;
}

.item-text,
.quan-text {
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.item-display button {
  width: 15%;
  padding: 10px 0;
  border-radius: 6px;
  margin-left: 3%;
  background-color: #254284;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  transition: 1s;
}

.item-display .modify { margin-left: 0; }
.item-display button:hover { background-color: #4E4040; }






/*=================================
  main styling ends here
=================================*/

